/QuestForTheUserInput/target/
/DontForgetToStoreIt/target/
/ABeginning/target/
/ProjectGutenberg/target/
/CommentingCode/target/
/AllTheMaths/target/
/InABucket/target/
/MoreBucketsMoreFun/target/
/TheOrderOfThings/target/
/BestAdderEver/target/
/AllAboutMe/target/
/MenuOfChampions/target/
/BiggerBetterAdded/target/
/BiggerBetterAdder/target/
/PassingTheTuringTest/target/
/AllTheTrivia/target/
/DoItBetter/DoItBetter/target/
/mavenproject1/HealthyHearts/target/
/MiniMadLibs/target/
/LlamasWhalesAndDodosOhMy/target/
/GuessMe/target/
/YourLifeInMovies/target/
/SpaceRustlers/target/
/WindowMasterDebug/target/
/KnockKnock/target/
/PickyEater/target/
/FieldDay/target/
/ALittleChaos/target/
/FortuneCookie/target/
/HighRoller/target/
/CoinFlipper/target/
/GuessMeMore/target/
/StayPositive/target/
/DoOrDoNot/target/
/LovesMe/target/
/MaybeItLovesMe/target/
/LazyTeenager/target/
/ForTimes/target/
/ForTimesFor/target/
/DifferentKettleOfFish/target/
/ForByFor/target/
/TraditionalFizzBuzz/target/
/MethodToTheMadness/target/
/ReturnToSender/target/
/BarelyControlledChaos/target/
/ARainbow/target/
/StillPositive/target/
/HiddenNuts/target/
/FruitsBasket/target/
/SimpleSort/target/
/FruitSalad/target/
/Factorizer/target/
/InterestCalculator/target/
/RockPaperScissors/target/
/DogGenetics/target/