.box{
    height: 180px;
    width: 180px;
}

.functionBox{
    height: 180px;
    width: 220px;
}

.number{

}

.name{
    text-align: center;
}

#headerDiv {
    border: 1px solid red;
}

#headerDiv h2 {
    margin-left: auto;
    margin-rigth: auto;
}