<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Field Agent Project Home</title>
  </head>
  <body>
    <div class="container">
        <div id="header" class="row">
            <div class="col-md">
                <h3 class="text-left">Home</h3>
            </div>
            <div class="justify-content-end">
                <a href="#" th:href="@{/addAgent}"><button class="btn btn-primary" type="submit">Add An Agent</button></a>
            </div>
        </div>
        <hr/>
        <table class="table table-striped">
          <thead>
            <th scope="col">Field Agent</th>
            <th scope="col">Agency</th>
          </thead>
          <tbody>
            <tr th:each="agent : ${agentList}"> <!-- create one of these rows for each agent -->
              <td><span th:text="${agent.firstName + ' ' + agent.lastName}"></span></td> <!-- TODO: CHANGE TO FULL NAME -->
              <td><span th:text="${agent.agency.name}"></span></td>
              <td>
                <a href="#" th:href="@{/deleteAgent(id=${agent.identifier})}"><button class="btn btn-danger">Delete</button></a>
                <a href="#" th:href="@{/addAssignment(id=${agent.identifier})}"><button class="btn btn-secondary">Add an Assignment</button></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>


    <!-- End main body -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>  